@import '../variables';

.categories {
	border-radius: 50px;
	ul {
		display: flex;

		li {
			background-color: #f3f3f3;
			padding: 13px 30px;
			width: fit-content;
			height: fit-content;
			border-radius: 30px;
			margin-right: 10px;
			font-weight: bold;
			cursor: pointer;
			transition: background-color 0.1s ease-in-out;
			@include noselect();

			&:hover {
				background-color: darken(#f9f9f9, 2%);
			}

			&:active {
				background-color: darken(#f9f9f9, 5%);
				-webkit-box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
				-moz-box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
				box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
			}

			&.active {
				background-color: #282828;
				color: #fff;
				-webkit-box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
				-moz-box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
				box-shadow: 0px 0px 18px 1px rgba(105, 89, 137, 0.37);
				transition: all 1s ease 0.15s;
			}
		}
	}
}
